body {
  margin: 0;
  font-family: Arial, sans-serif;
}

/* PANEL IZQUIERDO */
#sidebar {
  position: fixed;
  left: 0;
  top: 0;
  width: 30%;
  height: 100vh;
  background-color: #f2f2f2;
  border-right: 1px solid #ccc;
  padding: 15px;
  box-sizing: border-box;
  overflow-y: auto;
}

.case-item {
  padding: 10px;
  margin-bottom: 10px;
  background: white;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid #ddd;
}

.case-item:hover {
  background-color: #e6e6e6;
}

/* PANEL DERECHO */
#content {
  margin-left: 30%;
  padding: 20px;
}

.field {
  margin-bottom: 8px;
}

.field strong {
  display: inline-block;
  width: 220px;
}
